@keyframes wind{
    from{
        background-position: 17%;
    }
    to{
        background-position: 57%;
    }
}

@keyframes snowA{
    0%{
        background-position: 61% 110%;
    }
    100%{
        background-position: 330% 450%;
    }
}

