@media screen and (max-width: 540px) {

    #card .info{
        padding: 4.3vw !important;
    }

    #card .info h3 a{
        font-size: 5.2vw !important;
    }

    #card .info .logo{
        width: 42.8vw !important;
        height: 14vw !important;
        top: 47.5vw !important;
        left: 20.1vw !important;
    }

    #card .info .phrase{
        width: 53.2vw !important;
        top: 63.4vw !important;
        left: 15vw !important;
    }

}