/*
Project Name: ChristmasCard
Description: This is an example of how to build an animated christmas card using HTML & CSS
Version: 1
Author: jozzzz128
Author URL: https://jozzzz128.com
*/

@import url(./css/animation.css);
@import url(./css/icons.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@300;700;800&family=Righteous&display=swap');
@import url(./css/responsive.css);
@font-face {
    font-family: "Christmas";
    src: url('css/fonts/ChristmasSnowflake.ttf') format('truetype');
}

@font-face {
    font-family: "New York";
    src: url('css/fonts/NewYork\ PERSONAL\ USE.otf') format('opentype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff; 
    user-select: none;
    
    
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}

footer > p {
    color: #011C40;
}

:root{
    /*CARD*/
    --background-color: #D5E2F2;
    /* --image-email: url('img/groupPic.jpg'); */
    --margin: 29px * 2;

}

body .content{
    width: 100%;
    min-height: calc(100vh - 64px);
    background: #D5E2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#card{
    width: 12.7cm;
    height: 17.8cm;
    max-width: 90vw;
    max-height: calc(126.14vw);
    /* background: url(./img/wind.svg) var(--image-email); */
    background-image: url('img/card.svg');
    background-size: auto 100%;
    background-position: 37%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1);
    animation: wind 6s alternate linear infinite;
}

#card:hover{
    transform: scale(1.1);
}

#card .snow{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 150%;
    background-image: url(./img/snow.svg);
    animation: snowA 3s linear infinite;
}

/*Info*/
#card .info{
    padding: 25px 29px;
    height: 100%;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#card .info h3{
    font-family: 'New York';
    font-weight: 200;
    /* text-transform: uppercase; */
    font-size: 24px;
    width: 100%;
    opacity: 50%;
}

#card .info h3:last-child{
    text-align: right;
    line-height: 0.6;
}

#card .info h3 a{
    font-family: 'New York';
    font-size: 21px;
    line-height: 1;
    text-decoration: none;
}

#card .info h3 a span.arr{
    font-family: 'Christmas';
    font-size: 28px;
}

#card .info h3 a span{
    font-family: 'Christmas';
}

#card .info .logo{
    width: 235px;
    height: 81px;
    position: absolute;
    top: calc(46% - var(--margin));
    left: calc(34.2% - var(--margin));
}

#card .info .phrase{
    width: 285px;
    position: absolute;
    top: calc(59% - var(--margin));
    left: calc(29% - var(--margin));
}

#card .info h4{
    font-family: 'Christmas';
}

/*CLAUS*/
#card .claus-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

#card .claus-container .hat{
    width: 328px;
    position: absolute;
    top: calc(21.2% - var(--margin));
    left: calc(36.2% - var(--margin));
    animation: hat 1s alternate infinite;
}

#card .claus-container .mustache{
    width: 47px;
    position: absolute;
    top: calc(72% - var(--margin));
    left: calc(50% - var(--margin));
    animation: hat 1s alternate infinite;
}

#card .claus-container .mustache + .mustache{
    width: 44px;
    transform: scaleX(-1);
    top: calc(72.2% - var(--margin));
    left: calc(60.5% - var(--margin));
    animation: mustache 1s alternate infinite;
}

#card .claus-container .beard{
    width: 368px;
    position: absolute;
    top: calc(62.2% - var(--margin));
    left: calc(20.2% - var(--margin));
    animation: beard 1s alternate infinite;
}

body footer{
    /* background: #255142; */
    padding: 20px;
    text-align: center;
    font-family: 'New York';
}

body footer a{
    font-family: 'New York';
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

a:hover {
    color: #fff;
}


#picBttn {
    margin-right: 700px;
    font-family: 'New York';
}

/* #backG > p {
    background-color: #1A4A73 !important;
    color: white !important;
} */
